<!DOCTYPE html>
<html lang="de">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    {% block head %}
        <title>Quandam - {% block title %}{% endblock %}</title>
        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{{ globals["resources"] }}css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    {% endblock %}
</head>
<body>
<div class="container">
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</div>
<div id="footer">
    {% block footer %}
        <script src="/quandam/resources/js/bin/jquery-2.2.2.min.js"></script>
        <script src="/quandam/resources/js/bin/materialize.min.js"></script>
        <script src="/quandam/resources/js/view-controller.js"></script>
        <script src="/quandam/resources/js/event-handler.js"></script>
    {% endblock %}
</div>
</body>
</html>
