# Use the Controller to render the view with context variables
# -----------------------------------------------------------------------------
Options +FollowSymlinks
Options +MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ app/controller/impl/$1Controller.php [NC,L]

# Rest API Routing
# -----------------------------------------------------------------------------

# [GET]

# Address
RewriteRule ^rest/1.0/address$ api/index.php?request=all-addresses [nc,qsa]
RewriteRule ^rest/1.0/address/([0-9]+)$ api/index.php?request=address&id=$1 [nc,qsa]
RewriteRule ^rest/1.0/address/([0-9]+)/(countries)$ api/index.php?request=address&id=$1&field=$2 [nc,qsa]
RewriteRule ^rest/1.0/address/([0-9]+)/(members)$ api/index.php?request=address&id=$1&field=$2 [nc,qsa]
RewriteRule ^rest/1.0/address/([0-9]+)/(parties)$ api/index.php?request=address&id=$1&field=$2 [nc,qsa]
RewriteRule ^rest/1.0/address/([0-9]+)/(id)$ api/index.php?request=address&id=$1&field=$2 [nc,qsa]
RewriteRule ^rest/1.0/address/([0-9]+)/(city)$ api/index.php?request=address&id=$1&field=$2 [nc,qsa]

# Box
RewriteRule ^rest/1.0/box$ api/index.php?request=all-boxes [nc,qsa]
RewriteRule ^rest/1.0/box/([0-9]+)$ api/index.php?request=box&id=$1 [nc,qsa]
RewriteRule ^rest/1.0/box/([0-9]+)/(id)$ api/index.php?request=box&id=$1&field=$2 [nc,qsa]

# Country
RewriteRule ^rest/1.0/country$ api/index.php?request=all-countries [nc,qsa]
RewriteRule ^rest/1.0/country/([0-9]+)$ api/index.php?request=country&id=$1 [nc,qsa]
RewriteRule ^rest/1.0/country/([0-9]+)/(addresses)$ api/index.php?request=country&id=$1&field=$2 [nc,qsa]
RewriteRule ^rest/1.0/country/([0-9]+)/(id)$ api/index.php?request=country&id=$1&field=$2 [nc,qsa]
RewriteRule ^rest/1.0/country/([0-9]+)/(land_code)$ api/index.php?request=country&id=$1&field=$2 [nc,qsa]

# Member
RewriteRule ^rest/1.0/member$ api/index.php?request=all-members [nc,qsa]
RewriteRule ^rest/1.0/member/([0-9]+)$ api/index.php?request=member&id=$1 [nc,qsa]
RewriteRule ^rest/1.0/member/([0-9]+)/(addresses)$ api/index.php?request=member&id=$1&field=$2 [nc,qsa]
RewriteRule ^rest/1.0/member/([0-9]+)/(id)$ api/index.php?request=member&id=$1&field=$2 [nc,qsa]
RewriteRule ^rest/1.0/member/([0-9]+)/(firstname)$ api/index.php?request=member&id=$1&field=$2 [nc,qsa]

# Party
RewriteRule ^rest/1.0/party$ api/index.php?request=all-parties [nc,qsa]
RewriteRule ^rest/1.0/party/([0-9]+)$ api/index.php?request=party&id=$1 [nc,qsa]
RewriteRule ^rest/1.0/party/([0-9]+)/(addresses)$ api/index.php?request=party&id=$1&field=$2 [nc,qsa]
RewriteRule ^rest/1.0/party/([0-9]+)/(id)$ api/index.php?request=party&id=$1&field=$2 [nc,qsa]

# Thief
RewriteRule ^rest/1.0/thief$ api/index.php?request=all-thieves [nc,qsa]
RewriteRule ^rest/1.0/thief/([0-9]+)$ api/index.php?request=thief&id=$1 [nc,qsa]
RewriteRule ^rest/1.0/thief/([0-9]+)/(id)$ api/index.php?request=thief&id=$1&field=$2 [nc,qsa]
