$primary-color: color("indigo", "accent-2");

$primary-background: #1c1d22;
$secondary-background: #2a2b30;
$teritary-background: #383a40;

$primary-font-color: #f1f1f1;
$secondary-font-color: #797979;
$teritary-font-color: $secondary-background;
$hover-font-color: #cecece;
