$primary-color: color("light-blue", "lighten-2");

$primary-background: #f1f1f1;
$secondary-background: #fafafa;
$teritary-background: #c9ceef;

$primary-font-color: #2a2b30;
$secondary-font-color: #2a2b30;
$hover-font-color: #1c1d22;
